%h1 Listing items

%table
  %tr
    %th Image
    %th Name
    %th Desc
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td
        - is_image_exist = item.image? && File.exists?(item.image.path)
        - if is_image_exist
          = image_tag item.image.url(:thumb)
      %td= item.name
      %td= item.desc
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
